@model List<VisitorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}

<!-- Basic Bootstrap Table -->
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">APİ ZİYARETÇİ LİSTESİ</h5>
        <a class="btn btn-primary float-end" href="/Admin/VisitorApi/AddVisitor/"><i class="bx bx-plus me-1"></i> Yeni Ziyaretçi Oluştur</a>
    </div>

    <div class="table-responsive text-nowrap">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>İSİM</th>
                    <th>SOYİSİM</th>
                    <th>ŞEHİR</th>
                    <th>ÜLKE</th>
                    <th>E-MAİL</th>
                    <th>EYLEMLER</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Surname</td>
                        <td>@item.City</td>
                        <td>@item.Country</td>
                        <td>@item.Mail</td>
                        <td>
                            <a class="btn btn-sm btn-danger" href="/Admin/VisitorApi/DeleteVisitor/@item.VisitorID"><i class="bx bxs-trash me-1"></i> Sil</a>
                            <a class="btn btn-sm btn-warning" href="/Admin/VisitorApi/UpdateVisitor/@item.VisitorID/"><i class="bx bx-edit-alt me-1"></i> Güncelle</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<!--/ Basic Bootstrap Table -->

